<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61376799605-srs8v65oa349h7deavtanbq00ej5j8k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61376799605-srs8v65oa349h7deavtanbq00ej5j8k2</string>
	<key>API_KEY</key>
	<string>AIzaSyCHz6N2dx9OiA072ur25L-SxyBuCpJFP3g</string>
	<key>GCM_SENDER_ID</key>
	<string>61376799605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.empoweringHumanity</string>
	<key>PROJECT_ID</key>
	<string>innervehacks-80d52</string>
	<key>STORAGE_BUCKET</key>
	<string>innervehacks-80d52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61376799605:ios:b6af8329bd921c868ee93c</string>
	<key>DATABASE_URL</key>
	<string>https://innervehacks-80d52-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>